body {
    margin: 0;
    font-family: 'consolas';
}

.game-view {
    background-image: url('/src/images/background-image.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.start-screen {
    margin-top: 20%;
    text-align: center;
    padding: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
}

.play-screen {
    width: 100%;
    height: 100%;
}

.score-screen {
    color: white;
    background-color: black;
    text-align: center;
}

.bug {
    position: absolute;
    background-image: url('/src/images/bug.png');
    background-size: cover;
}

.wizard {
    position: absolute;
    background-image: url('/src/images/wizard.png');
    background-size: cover;
    width: 82px;
    height: 100px;
}

.hidden {
    display: none;
}